<h3>LPagos</h3>
@page "/Consultas/LPagos"
<h3>LPagos</h3>
@using TareaSistemaInscripciones.Data;
@using TareaSistemaInscripciones.Models;
@using TareaSistemaInscripciones.Controllers;



@if (Lista == null)
{
    <p> <em> Cargando ... </em> </p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>PagoId</th>
                <th>Fecha</th>
                <th>InscripcionId</th>
                <th>Monto</th>
                

            </tr>
        </thead>
        <tbody>
            @foreach (var listar in Lista)
            {
                <tr>
                    <td>@listar.PagoId</td>
                    <td>@listar.Fecha</td>
                    <td>@listar.InscripcionId</td>
                    <td>@listar.Monto</td>
                   

                </tr>
            }
        </tbody>


    </table>
}



@code {
    List<Pagos> Lista;
    protected override async Task OnInitializedAsync()
    {
        Lista = PagosController.GetList(p => true);
    }
}

