<h3>REstudiantes</h3>
@page "/Registros/rEstudiantes";
@using TareaSistemaInscripciones.Data
@using TareaSistemaInscripciones.Models;
@using TareaSistemaInscripciones.Controllers;
<h3>REstudiantees</h3>
<h3>@Estado</h3>
<EditForm Model="ins" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />
    <div class="form-group">
        <div>
            <label for="EstudianteId">Estudiante Id</label>
        </div>
        <div class="form-row">

            <div class=" col col-md-4">
                <InputNumber id="EstudianteId" @bind-Value="ins.EstudianteId" class="form-control"> </InputNumber>

            </div>
            <div class=" col col-md-6">
                <button class="btn btn-primary" @onclick="Buscar">Buscar</button>

            </div>
        </div>

    </div>
    <div class="form-group">
        <label for="MatriculaNumber">Matricula: </label>
        <InputNumber id="MatriculaNumber" @bind-Value="ins.Matricula" class="form-control" />
    </div>
    <div class="form-group">
        <label for="NombresText">Nombres: </label>
        <InputText id="NombresText" @bind-Value="ins.Nombres" class="form-control" />
    </div>
    <div class="form-group">
        <label for="BalanceNumber">Tomados: </label>
        <InputNumber id="BalanceNumber" @bind-Value="ins.Balance" class="form-control" />
    </div>

    <div class="form-group">
        <div class="form-row">
            <button class="btn btn-primary" type="button" @onclick="Nuevo">Nuevo</button>
            <button class="btn btn-success" type="submit">Guardar</button>
            <button class="btn btn-danger" type="button" @onclick="Eliminar">Eliminar</button>
        </div>
    </div>
    <ValidationSummary />
</EditForm>

@code {
    Estudiantes ins = new Estudiantes();
    public string Estado = "Nada";
    public void Buscar()
    {
        try
        {
            Estudiantes temp;
            temp = EstudiantesController.Buscar(ins.EstudianteId);
            if (temp != null)
            {
                ins = temp;
                Estado = "Se Encontro";
            }


        }
        catch (Exception)
        {

            throw;
        }
    }
    public void Nuevo()
    {
        ins = new Estudiantes();
    }


    public void Guardar()
    {
        
            //EstudianteController.Guardar(ins);
            Estado = EstudiantesController.Guardando(ins);

    }
    public void Eliminar()
    {
        if (ins.EstudianteId == 0)
        {
            Estado = "No se puede borrar algo que no existe";
        }
        else
        {
            EstudiantesController.Eliminar(ins.EstudianteId);
            Nuevo();
        }
    }
}